/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






#app{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#flex-container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: antiquewhite;
    flex-grow: 1;
    height: 5%;
}

#flex-container-2{
    display: flex;
    background-color: lightcyan;
    justify-content: space-between;
    gap: 1vw;
    flex-grow: 3;
}

#sidebar{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}
#task-side-menu-1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    height: 200px;
}

.side-bar-tabs {
    text-align: center;
    background-color: rgb(224, 97, 97);
    border: solid black 2px;
    padding: 10px;
    font-size: 20px;
}

.side-bar-tabs:hover{
    background-color: rgb(240, 144, 144);
}

#task-side-menu-2 {
    height: 20%;
}

#task-side-menu-2 h3{
    font-size: 30px;
    font-weight: bold;
}

#projects{
    height: 150px;
    border: gray solid 2px;
    overflow: scroll;
}

.project-option{
    font-size: 20px;
    padding: 5px;
}
.project-option:hover{
    background-color: rgb(243, 183, 208);
}

#to-do-list-buttons{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}


#div-add-project-button{
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: center;
    align-items: center;
}

#div-add-project-button p {
    background-color: rgb(5, 173, 165);
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    width: 70%;
}

#div-add-project-button p:hover{
    background-color: rgb(22, 241, 231);
}

#div-add-task-button{
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: center;
    align-items: center;
}

#div-add-task-button p {
    background-color: palevioletred;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    width: 70%;
}

#div-add-task-button p:hover {
    background-color: rgb(243, 155, 206);
}
#content{
    flex: 2;
    height: 100%;
}

#window-title {
    font-size: 50px;
}

#content-window-div{
    position: relative;
    height: 90%;
}

.content-containers {
    position: absolute;
    overflow: scroll;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}

#all-content-tasks{
    visibility: visible;
}

#past-content-tasks{
    visibility: hidden;
}

#today-content-tasks{
    visibility: hidden;
}

#upcoming-content-tasks{
    visibility: hidden;
}

.checkbox-and-title {
    display: flex;
    align-items: center;
}

.date-and-delete{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.delete-task {
    background-color: rgb(245, 119, 119);
    padding: 5%;
    border-radius: 20px;
}

input:checked {
    text-decoration: line-through;
    background-color: gainsboro;
}


.completed-tasks {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
    text-decoration: line-through;
    color: gray;
    font-size: 20px;
    width: 90%;
    padding: 2%;
}

.created-tasks {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    font-size: 20px;
    width: 90%;
    padding: 2%;
}

#popup-add-task {
    visibility: hidden;
}

#popup-add-project {
    visibility: hidden;
}

#flex-container-3{
    display: fixed;
    background-color: lightsalmon;
    flex-grow: .5;
    width: 100%;
}

footer {
    display: flex;
    height: 100%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}